/* 

.A{
    width: 50px;
background-color: yellowgreen;
text-align: center;
position: absolute;
bottom: 10px;
}
.B
{
    text-align: center;
    width: 50px;
background-color: blueviolet;
position: absolute;
} */



/* 
div
{
    height: 500px;
    background-image: radial-gradient(red , yellow , gold);


} */



body {

    background: black;
}

button {
   margin: 50px auto;
display: block;
    /* position:sticky; */
    text-align: center;
    background-color: rgb(4, 4, 4);
    color: brown;
    height: 50px;
    width: 100px;
    cursor: pointer;
    border-radius: 70px;
box-shadow: 5px 5px 6px rgba(223, 167, 84,0.6);
border: solid;
transition: 1s;
}



button:hover
{

    width: 120px;
    color: beige;
    

}